.jumbotron{
    position: relative;
    overflow: hidden;
    height: 600px;
  }
  
#video-background { 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
  }

#over-vid {
    position: relative;
    top: 30%;
    z-index: 2;
}

#video-background{ 
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
  }

.navbar-brand {
  font-family: 'Baloo 2', cursive;
  font-size: xx-large;
}

#about-intro {
  font-family: 'Caveat', cursive;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/31/13/40/dark-2024127_960_720.png');
  text-shadow: 2px 2px #011f4b;
}

#intro-card {
  background-image: url('https://s3.amazonaws.com/portfolio.sivrite/2754227.jpg');
  height: 900px;
}

.card-img-top {
  height: 80%;
  width: 80%;
  position: relative;
  left: 10%;
}

#self-card {
  position: relative;
  top: 150px;
}

#return-nav {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}